<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"> وبلاگ مجتبی</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" >صفحه اصلی <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/recipes']" routerLinkActive="active"  >محصولات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/shopping-list']" routerLinkActive="active" >سبد خرید</a>
        </li>
        <li class="nav-item dropdown show" >
          <a class="nav-link dropdown-toggle" style="cursor: pointer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ارتباط با سرور
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" style="cursor: pointer" (click)="getData()"> دریافت اطلاعات</a>
            <a class="dropdown-item" style="cursor: pointer" (click)="saveDate()">ذخیره اطلاعات</a>
            </div>
        </li>
      </ul>
    </div>
  </nav>