<div class="row">
    <div class="col-xl-12">
        <button class="btn btn-success">خبر جدید</button>
    </div>
    </div>
    <hr>
<div class="row">
    <div class="col-xl-12">
        <div  class="card-group" *ngFor="let recipe of recipes">
            <div class="card" style="max-width: 340px;">
                <img src="{{ recipe.imagePath }}" class="card-img-top" alt="{{ recipe.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.name }}</h5>
                    <p class="card-text">{{ recipe.description }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <a href="#">ادامه خبر</a>
                    </small>
                </div>

            </div>

        </div>
        <app-recipe-item></app-recipe-item>
    </div>
</div>