<div class="row">
    <div class="col-xl-12">
        <button class="btn btn-success">خبر جدید</button>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <a href="#" class="card-group" *ngFor="let recipe of recipes">
            <div class="card">
                <img src="{{ recipe.imagePath }}" class="card-img-top" alt="{{ recipe.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.name }}</h5>
                    <p class="card-text">{{ recipe.description }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>

            </div>

        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>