<div class="row">
    <div class="col-xl-12">
        <form >
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">عنوان</label>
                    <input type="text" id="name" class="form-control" #nameInput>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">تعداد</label>
                    <input type="number" class="form-control" id="amount" #amountInput>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <button type="button" class="btn btn-success m-1" (click)="addItem()">اضافه کردن</button>
                    <button type="submit" class="btn btn-danger m-1">حذف کردن </button>
                    <button type="submit" class="btn btn-primary m-1">پاک کردن فرم</button>
                </div>
            </div>
        </form>
    </div>
</div>